@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none !important;
}

body {
    margin: 20px;
    background-color: #E9ECEF;
}

ion-icon {
    padding: 0;
    margin: 0;
}

/* btn */

.btn {
    display: inline-block;
    background-color: #E01E37;
    color: white;
    font-weight: 600;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 10px;
}

/* btn */

/* slider */

.slider {
    position: relative;
    width: 100%;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;
    border: none;
    background-color: #E9ECEF;
    cursor: pointer;
}

.slider .prev {
    left: 0;
}

.slider .next {
    right: 0;
}

.slider .slider-items {
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.slider .slider-items::-webkit-scrollbar {
    display: none;
}

/* slider */

/* card */
.card {
    display: inline-block;
    width: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    white-space: normal;
}

.card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card .card-title {
    margin: 0 0 10px 10px;
}

.card .card-body {
    margin-left: 10px;
}

/* card */

/* header */
header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url('asset/header-img.jpg');
    height: 700px;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 0.3px solid white;
    position: relative;
}

header nav a {
    color: white;
}

header ion-icon {
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    font-size: 14px;
    color: white;
}

header .nav-brand a {
    font-size: 24px;
    font-family: 'Pacifico';
}

header .nav-menu {
    position: absolute;
    background-color: white;
    display: grid;
    grid-template-areas:
        'a'
        'b'
        'c'
    ;
    padding: 20px;
    right: 0;
    top: 50px;
    width: 100%;
    z-index: 99;
}

header .nav-menu .search {
    grid-area: a;
}

header .nav-menu .search ion-icon {
    display: none;
}

header .nav-menu .search input {
    width: 100%;
    height: 40px;
    border-color: rgba(0, 0, 0, 0.3);
    padding: 0 10px;
    margin-bottom: 5px;
}

header .nav-menu .search input:focus {
    border-color: #E01E37;
}

header .nav-menu .menu {
    grid-area: b;
    margin-bottom: 5px;
}

header .nav-menu .menu li {
    padding: 10px 0;
}

header .nav-menu .menu li a {
    margin-left: 10px;
}

header .nav-menu .menu li:hover {
    background-color: #E01E37;
    border-radius: 5px;
}

header .nav-menu .menu li:hover a {
    color: white;
}

header .nav-menu .login {
    grid-area: c;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}

header .nav-menu .login ion-icon {
    display: none;
}

header .nav-menu .login a {
    display: inline-block;
    margin: 10px 10px 0 10px;
}

header .nav-menu .login a:nth-child(2) {
    background-color: #E01E37;
    color: white;
    padding: 5px 10px;
    border: 1px solid #E01E37;
    border-radius: 5px;
}

header .nav-menu a {
    color: black;
}

header .nav-menu li {
    list-style: none;
}

header section {
    height: 100%;
    position: relative;
}

header section p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    color: white;
}

header section p span {
    color: #E01E37;
    font-weight: bold;
}

header section p span:nth-child(5) {
    font-family: 'Pacifico';
    color: white;
    font-size: 40px;
    font-weight: normal;
}

/* header */

/* latest */
#latest a {
    color: black;
}

#latest .title {
    margin-left: 20px;
    font-size: 20px;
}

#latest .card img {
    height: 200px;
}

#latest .card-title h1 {
    font-size: 20px;
}

#latest .card-title p {
    font-size: 10px;
}

#latest .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#latest .card-body p {
    font-size: 10px;
}

/* latest */

/* cooking-class */
#cooking-class {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

#cooking-class .caption p {
    font-size: 12px;
    line-height: 30px;
}

#cooking-class .caption span {
    color: #E01E37;
}

#cooking-class .caption li {
    display: inline;
    font-size: 12px;
    margin-right: 20px;
}

#cooking-class .btn {
    margin-top: 20px;
}

#cooking-class .caption button:hover {
    background-color: #eb203b;
}

#cooking-class figure img:first-child {
    display: none;
}

#cooking-class figure img:last-child {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

/* cooking-class */

/* blog */

#blog {
    margin-top: 100px;
}

#blog .tittle {
    margin: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#blog .tittle a {
    font-size: 12px;
    color: #E01E37;
}

#blog .card {
    width: 300px;
}

#blog .card img {
    height: 200px;
}

#blog .card-title h1 {
    font-size: 20px;
}

#blog .card-title p {
    font-size: 12px;
}

#blog .card-body p {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 10px;
}

#blog .card-body a {
    font-size: 12px;
    text-align: right;
    color: #E01E37;
}

/* blog */

/* about-us */

#about-us figure {
    width: auto;
    height: 300px;
    background-color: black;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
}

#about-us figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.7;
}

#about-us figure h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Pacifico';
    font-weight: 500;
    font-size: 30px;
}

#about-us .caption h1 {
    font-family: 'Pacifico';
    font-weight: 500;
}

#about-us .caption span {
    font-family: 'Pacifico';
}

#about-us .caption p {
    margin: 10px 0;
    line-height: 30px;
}

/* about-us */

/* footer */

#footer {
    border-top: 0.3px solid black;
}

#footer .logo {
    margin-bottom: 10px;
}

#footer .logo h1 {
    font-family: 'Pacifico';
    font-weight: 500;
}

#footer .logo p {
    font-size: 12px;
}

#footer .popular {
    margin-bottom: 10px;
}

#footer .popular li,
.follow-us li {
    list-style: none;
    margin-bottom: 5px;
}

#footer .popular a,
.follow-us a {
    font-size: 12px;
    color: black;
}

/* footer */

@media screen and (min-width:600px) {

    /* cooking-class */
    #cooking-class {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #cooking-class figure img:last-child {
        width: 300px;
        height: 300px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    }

    /* cooking-class */

    /* about-us */

    #about-us figure {
        height: 400px;
    }

    #about-us .caption {
        text-align: center;
    }

    /* about-us */

    /* footer */

    #footer {
        display: flex;
        /* justify-content: space-around; */
        padding-top: 10px;
    }

    #footer h4 {
        margin-bottom: 10px;
    }

    #footer .popular {
        margin-left: auto;
        margin-right: 100px;
    }

    #footer .popular,
    .follow-us {
        margin-top: 20px;
    }

    #footer .follow-us a {
        display: block;
    }
}

@media screen and (min-width:1024px) {

    /* header */
    header nav .nav-brand a {
        font-size: 32px;
    }

    header nav {
        display: flex;
        align-items: center;
        position: static;
    }

    header nav #menu-icon {
        display: none;
    }

    header nav .nav-menu {
        display: flex !important;
        align-items: center;
        background-color: transparent;
        position: static;
        padding: 0;
        margin: 0;
    }

    header nav .nav-menu a {
        color: white;
    }

    header nav ul li {
        display: inline-block;
    }

    header nav .nav-menu .menu {
        margin: 0 0 0 50px;
    }

    header .nav-menu .menu li {
        margin-right: 20px;
        position: relative;
    }

    header .nav-menu .menu li:hover {
        background-color: transparent;
    }

    header .nav-menu .menu li:hover::after {
        position: absolute;
        content: '';
        width: 50%;
        height: 3px;
        background-color: white;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    header nav .nav-menu .menu a {
        margin: 0;
    }

    header nav .nav-menu .search {
        margin: 0 20px 0 auto;
        position: relative;
    }

    header nav .nav-menu .search ion-icon {
        display: block;
        cursor: pointer;
        color: white;
        transition: ease 1s;
    }

    header nav .nav-menu .search input {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 0;
        width: 0;
        z-index: -99;
        transition: ease 1s;
        border: none;
    }

    header nav .nav-menu .login {
        position: relative;
        border: none;
    }

    header nav .nav-menu .login ion-icon {
        display: block;
        cursor: pointer;
    }

    header nav .nav-menu .login .lg-login a {
        margin: 0;
    }

    header nav .nav-menu .login .lg-login a:first-child {
        padding: 5px 10px;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 5px;
        margin-right: 10px;
    }

    header section p {
        width: 500px;
        font-size: 20px;
        line-height: 36px;
    }

    /* header */

    /* latest */

    /* latest */

    /* cooking-class */
    #cooking-class {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    #cooking-class figure {
        position: relative;
        width: 700px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cooking-class .caption p {
        font-size: 16px;
        margin: 10px 0;
    }

    #cooking-class .caption p:nth-child(1) {
        font-size: 16px;
    }

    #cooking-class .caption p:nth-child(2) {
        font-size: 24px;
    }

    #cooking-class .caption h1 {
        font-size: 36px;
    }

    #cooking-class .caption span {
        color: #E01E37;
    }

    #cooking-class .caption li {
        display: inline;
        font-size: 16px;
        margin-right: 20px;
    }

    #cooking-class .caption button {
        font-size: 20px;
    }

    #cooking-class figure img:first-child {
        display: block;
        position: absolute;
        margin-right: 200px;
        width: 300px;
        height: 300px;
        transform: rotate(-15deg);
        border-radius: 30px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
        z-index: 2;
    }

    #cooking-class figure img:last-child {
        position: absolute;
        margin: 0;
        margin-left: 200px;
        width: 400px;
        height: 400px;
        transform: rotate(15deg);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    /* cooking-class */

    /* about-us */

    #about-us {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    #about-us figure {
        width: 600px;
        height: 400px;
    }

    #about-us figure img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    }

    #about-us .caption {
        width: 600px;
        text-align: left;
    }

    #about-us .caption h1 {
        font-size: 30px;
    }

    /* about-us */

    #footer a:hover {
        color: #E01E37;
    }

    #footer .popular {
        margin-left: auto;
    }
}

@media screen and (min-width: 1400px) {}