@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --yellow: #fed32a;
    --black: #212529;
    --white: #F8F9FA;
}

html,
body {
    background-color: var(--black);
    color: var(--white);
    height: 100%;
}

.container {
    margin: 0 50px;
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c"
    ;
    /* grid-template-rows: 1fr 1fr; */
    /* display: flex;
    /* justify-content: space-between; */
}

.hidden {
    display: none;
}


/* navbar */
.navbar {
    margin: 30px 0px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: a;
}

.navbar .hamburger-menu ion-icon {
    color: var(--white);
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: 5px;
    cursor: pointer;
}

.navbar ul li a.active {
    font-weight: bold;
    color: #fed32a;
}

.navbar .menu {
    position: absolute;
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 99;
}

.navbar ul li {
    list-style: none;
    margin-bottom: 10px;
    /* display: inline-block; */
    /* margin-right: 10px; */
}

.navbar ul li a {
    /* color: var(--white); */
    color: var(--black);
}

.navbar .logo h1 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    color: var(--yellow);
}

/* navbar */

.left {
    /* grid-area: left; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin: 50px 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: c;
}

.left .text h1 {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    color: var(--yellow);
}

.left .text p:nth-child(3) {
    line-height: 32px;
}

.left .social-media a {
    font-size: 20px;
    color: var(--white);
}

.left .social-media ion-icon {
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: 5px;
}

.right {
    grid-area: b;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    overflow: hidden;
}

.right .pp {
    width: 450px;
    height: 600px;
    background-color: var(--white);
    position: relative;
    box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
    z-index: 1;
}

.right .pp span:nth-child(1) {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1496302662116-35cc4f36df92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    transform: rotate(5deg);
    box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
    z-index: -1;
}

.right .pp span:nth-child(2) {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1581456495146-65a71b2c8e52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80');
    background-size: cover;
    transform: rotate(-5deg);
    box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
    z-index: -2;
}

.right .pp span:nth-child(3) {
    position: absolute;
    width: 50px;
    height: 115px;
    background-color: var(--black);
    top: -115px;
    left: 40px;
    z-index: -3;
}

.right .pp span:nth-child(4) {
    position: absolute;
    width: 50px;
    height: 115px;
    background-color: var(--black);
    top: -115px;
    left: 100px;
    z-index: -4;
}

.right .pp span:nth-child(5) {
    position: absolute;
    width: 50px;
    height: 115px;
    background-color: var(--black);
    bottom: -115px;
    right: 40px;
    z-index: -5;
}

.right .pp span:nth-child(6) {
    position: absolute;
    width: 50px;
    height: 115px;
    background-color: var(--black);
    bottom: -115px;
    right: 100px;
    z-index: -6;
}

.right .pp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:375px) {
    .container{
        margin: 5%;
    }

    .navbar{
        margin: 0 0 5% 0;
    }

    .navbar .logo h1{
        font-size: 18px;
    }
}


@media screen and (max-width:576px) {
    .left .text{
        margin-bottom: 50px;
    }

    .right {
        height: 550px;
    }

    .right .pp {
        width: 300px;
        height: 500px;
        background-color: var(--white);
        position: relative;
        box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
        /* margin: 30px 50px; */
    }
}

@media screen and (min-width:992px) {

    .container {
        margin: 0 0 0 50px;
        display: grid;
        grid-template-areas:
            "a c"
            "b c"
        ;
        /* grid-template-rows: 1fr 1fr; */
        /* display: flex;
        /* justify-content: space-between; */
    }

    .navbar .hamburger-menu {
        display: none;
    }

    .navbar {
        grid-area: a;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .navbar .menu {
        display: block;
        background-color: transparent;
        padding: 0;
        position: static;
    }

    .navbar ul li {
        display: inline-block;
        margin-right: 10px;
    }

    .navbar ul li a {
        color: var(--white);
    }

    .navbar .logo {
        display: none;
    }

    .left {
        justify-content: center;
        height: 560px;
        grid-area: b;
    }

    .container .left .text {
        margin-bottom: 50px;
    }

    .right {
        grid-area: c;
        width: 600px;
    }

    .right .pp {
        width: 400px;
        height: 600px;
        background-color: var(--white);
        position: relative;
        box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
        /* margin: 30px 50px; */
    }
}

@media screen and (min-width:1400px) {
    .container {
        height: 100%;
    }

    .right {
        grid-area: c;
        width: 800px;
        height: 100%;
    }

    .right .pp {
        width: 500px;
        height: 700px;
        background-color: var(--white);
        position: relative;
        box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
        /* margin: 30px 50px; */
    }
}