@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --yellow: #fed32a;
    --black: #212529;
    --white: #F8F9FA;
}

html,
body {
    background-color: var(--black);
    color: var(--white);
    height: 100%;
}

.hidden {
    display: none;
}

ion-icon {
    padding: 5px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

a {
    color: var(--white);
}


.container {
    margin: 0 5%;
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c"
    ;
}

/* navbar */
.navbar {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: a;
}

.navbar .menu {
    position: absolute;
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 99;
}

.navbar ul li {
    list-style: none;
    margin-bottom: 10px;
}

.navbar ul li a.active {
    font-weight: bold;
    color: #fed32a;
}

.navbar a {
    color: var(--black);
}

.navbar .logo h1 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    color: var(--yellow);
}

/* navbar */

/* left */
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: c;
}

.left .text {
    margin-bottom: 50px;
}

.left .text p {
    font-size: 14px;
}

.left .text h1 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    color: var(--yellow);
}

/* left */
.right {
    margin-bottom: 10px;
    grid-area: b;
}

.right .pp {
    width: 100%;
    position: relative;
    box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
}

.right .pp img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* right */

@media screen and (min-width: 768px) {
    .container {
        grid-template-areas:
            "a b"
            "c b"
        ;
        margin: 0 0 0 5%;
    }

    .navbar {
        /* display: block; */
        margin: 10px 0;
    }

    .navbar .hamburger-menu {
        display: none;
    }

    .navbar .menu {
        position: static;
        display: block;
        background-color: transparent;
        padding: 0;
    }

    .navbar ul li {
        display: inline-block;
        list-style: none;
        font-size: 10px;
        margin-right: 12px;
    }

    .navbar a {
        color: var(--white);
    }

    .navbar .logo {
        display: none;
    }

    .left {
        margin: 50px 20px 50px 0;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: c;
    }

    .left .text {
        margin: 0;
    }

    .left .text p {
        font-size: 10px;
    }


    .right {
        margin: 0;
        width: 350px;
        height: 450px;
        background-color: var(--yellow);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right .pp {
        width: 250px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right .pp img {
        width: 100%;
        height: 100%;
        position: relative;
        box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
        z-index: 10;
    }

    .right .pp span:nth-child(1) {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url('https://images.unsplash.com/photo-1496302662116-35cc4f36df92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
        background-size: cover;
        transform: rotate(5deg);
        box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
        z-index: 9;
    }

    .right .pp span:nth-child(2) {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url('https://images.unsplash.com/photo-1581456495146-65a71b2c8e52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80');
        background-size: cover;
        transform: rotate(-5deg);
        box-shadow: 10px 10px 10px rgba(33, 37, 41, 0.25);
        z-index: 8;
    }

    .right .pp span:nth-child(3) {
        position: absolute;
        width: 50px;
        height: 115px;
        background-color: var(--black);
        top: -115px;
        left: 10px;
        z-index: 7;
    }

    .right .pp span:nth-child(4) {
        position: absolute;
        width: 50px;
        height: 115px;
        background-color: var(--black);
        top: -115px;
        left: 70px;
        z-index: 6;
    }

    .right .pp span:nth-child(5) {
        position: absolute;
        width: 50px;
        height: 115px;
        background-color: var(--black);
        bottom: -115px;
        right: 10px;
        z-index: 5;
    }

    .right .pp span:nth-child(6) {
        position: absolute;
        width: 50px;
        height: 115px;
        background-color: var(--black);
        bottom: -115px;
        right: 70px;
        z-index: 4;
    }
}

@media screen and (min-width:1024px) {
    .navbar {
        margin: 30px 0;
    }

    .navbar ul li {
        font-size: 16px;
        margin-right: 12px;
    }

    .left .text p {
        font-size: 16px;
    }

    .right {
        width: 450px;
        height: 550px;
    }

    .right .pp {
        width: 350px;
        height: 450px;
    }

}

@media screen and (min-width:1280px) {
    .navbar {
        height: fit-content;
        margin: 50px 0;
    }

    .right {
        width: 650px;
        height: 700px;
    }

    .right .pp {
        width: 450px;
        height: 600px;
    }
}

@media screen and (min-width:1400px) {
    .navbar {
        height: fit-content;
        margin: 50px 0;
    }

    .navbar ul li {
        font-size: 20px;
    }

    .left .text {
        margin-bottom: 50px;
    }

    .left .text p {
        font-size: 20px;
    }

    .left .social-media a {
        font-size: 20px;
    }

    .right {
        width: 750px;
        height: 850px;
    }

    .right .pp {
        width: 450px;
        height: 650px;
    }

    .right .pp span:nth-child(3) {
        width: 80px;
        height: 115px;
        top: -115px;
        left: 20px;
        z-index: 7;
    }

    .right .pp span:nth-child(4) {
        width: 80px;
        height: 115px;
        top: -115px;
        left: 120px;
        z-index: 6;
    }

    .right .pp span:nth-child(5) {
        position: absolute;
        width: 80px;
        height: 115px;
        background-color: var(--black);
        bottom: -115px;
        right: 20px;
        z-index: 5;
    }

    .right .pp span:nth-child(6) {
        position: absolute;
        width: 80px;
        height: 115px;
        background-color: var(--black);
        bottom: -115px;
        right: 120px;
        z-index: 4;
    }
}